:root {
  --text: #202020;
  --other: #888C8D;
  --background: #F3F3F3;
  --action: #957152;
}

body {
  font-family: Verdana;
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

nav{
  float: right;
}

.logo img{
  float: left;
}

.grid-container{
  display: grid;
  grid-gap: 10px;
}

.navbar {
  display: grid;
  list-style: none;
  grid-gap: 20px;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  grid-template-columns: repeat(4, 1fr);
}

li a {
  display: block;
  color: var(--text);
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  background: var(--background);
}

li a:hover {
  color: var(--background);
  background: var(--text);
}

.container {
  width: 100%;
  margin: 0;
  display: grid;
  grid-gap: 20px;
}

.banner{
  background-image: url(images/banner1.png);
  background-size: cover;
  background-position: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text);
}

header {
  width: 100%;
  margin: auto;
  height: auto;
  padding: 5px;
}
footer {
  width: 100%;
  margin: auto;
  height: auto;
  background: var(--other);
  color: var(--text);
  text-align: center;
  padding: 5px;
}

.boxes {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
}

.box {
  margin: auto;
  background: var(--background);
  text-align: left;
  padding: 5px 10px;
}

h4{text-align: center;}

.contact{
  text-align: center;
}

.about {
  text-align: left;
}

.port {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 5px;
}

.port   img:hover {
  transform:scale(1.2);
}

.video{
  width: 100%;
  height: auto;
}

/* Sprite */

.sprite {
	width: 500px;
	height: 500px;
	background: url('images/sprite2.png') 0 0 no-repeat;
	animation: play 3s steps(8) infinite;
}
@keyframes play {
	0%{background-position:0px;}
   100% { background-position: -4000px; }
}

/* Kontakt form */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--other);
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
  resize: vertical
}

input[type=submit] {
  background-color: var(--action);
  color: var(--background);
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--text);
}

.form {
  border-radius: 5px;
  padding: 20px;
}

@media screen and (min-width: 550px) {
  html, body{
    height: 100%;
  }
}
